<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<p style="font-size: larger; color: green; margin-left: 10px; font:bolder">Equipments List</p>
<button class="btn btn-danger m-lg-2 " [routerLink]="['/details/', id]"> ← Back </button>
<div>
    <table class="table table-dark table-hover table-sm table-bordered table responsive m-1">
        <thead class="table table-success" style="font-size: larger;">
            <tr>
                <th>ID</th>
                <th>Equipment Name</th>
                <th>Equipment Cost</th>
                <th>Equipment Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let equipment of equipmentList">
                <td>{{equipment.equipmentId}}</td>
                <td>{{equipment.equipmentName}}</td>
                <td>{{equipment.equipmentCost}}</td>
                <td>{{equipment.equipmentType}}</td>
            </tr>
        </tbody>
    </table>
    <html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  .all-rights {
    font-size: 14px;
    color: #888;
    text-align: center;
    margin-top: 20px;
  }
</style>
<title>All Rights Reserved</title>
</head>
<body>
  <div class="all-rights">
    &copy; 2023 Detla-Core Technology Co. All Rights Reserved.
  </div>
</body>
</html>
</div>
