<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<p style="height: auto; background-color: cadetblue; font-size: x-large;">Project Review Section</p>
<button class="btn btn-danger m-lg-2 " [routerLink]="['/review']"> ← Back </button>
<div style="background-color:blanchedalmond;">
<p style="font-size: large; color: green;">Your feedback is important to us.</p>
<p style="font-size: medium; font-style: oblique;">We have a strong customer service culture and strive to increase customer satisfaction. 
    We use your feedback to improve our service delivery by really getting to know your needs and expectations. As current holders of the 
    Customer Service Excellence Award, we monitor and review our processes as part of continuous improvement. Your feedback provides us with 
    key information about what you think as a user of our services and helps us make informed decisions about improvements; it also helps us 
    identify area where we are doing a good job.</p>
<p style="background-attachment: fixed; font-size: medium; font-style: oblique; text-align: right;color: red;">Prabin Osti, CEO, Delta-Core Company LLC</p>
</div>
<div class="container" style="position: fixed;">
    <form [formGroup]="(reviewForm)" (ngSubmit) = "saveComment()">
    <div class="form-group" style="margin-top: 50px;">
        <label for="comment">Write a comment : </label>
        <input class="form-control" type="text" id="comment" formControlName ="comment" placeholder="Comment" style="height: 100px; text-align: left;"/>
    </div>
    <div class="form-group" style="margin-top: 50px;">
        <label for="userName">Name</label>
        <input class="form-control" type="text" id="userName" formControlName ="userName" placeholder="Name"/>
    </div>

    <button class="btn btn-success mt-2" type="submit" [disabled]="reviewForm.invalid">Save</button>
</form>
</div>
